.profile__avatar-button {
    background-image: url('../../../images/Avatar_Edit.png');
    z-index: 2;
    width: 26px;
    height: 26px;
    border: 0;
    position: absolute;
    margin: 47px;
    background-color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: none;
}

.profile__avatar-button:focus {
    outline: none;
}