@import url('./_active/modal__input-error_active.css');

.modal__input-error:invalid {
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    /* position: absolute;
    top: calc(100% + 6px);  */
    /* left: 0; */
    /* transition: 0.3s;     */
    height: 30px;
    padding-top: 5px;
    z-index: 2;
    visibility: visible;
  }

  .modal__input-error:invalid{
    visibility: visible;
    opacity: 1;
  }

@media screen and (max-width: 500px) {
  .modal__input-error {
    font-size: 8px;
    line-height: 10px;
    height: 24px;
  }
}