.header__divider {
    width: 882px;
    height: 0px;
    margin: 40px 199px 0;
    opacity: 0.7;
    border: 1px solid #545454;
}

@media screen and (max-width: 320px) {
    .header__divider {
        width: 320px;
        display: flex;
        justify-self: center;
        margin: 32px 0 0;
    }
}