.card-popup__image {
    /* background-image: url('../../../../images/Seqouia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center; */
        max-height: 75vh;
        max-width: 75vw;
        object-fit: contain;
    }
    
    @media screen and (max-width: 320px) {
        .card-popup__image {
            width: 240px;
            height: 100%;
        }
    }    