.grid__card_popup-close {
    position: absolute;
    top: -45px;
    right: -45px;
    background: url('../../../images/Close_Icon.png');
    height: 50px;
    width: 50px;
    border: 0;
    padding: 0;
    display: none;
}

.grid__card_popup-close:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .grid__card_popup-close {
        width: 50px;
        height: 50px;
        top: -50px;
        right: -20px;
    }
}

.grid__card_popup-close:focus {
    outline: none;
}
