.modal__input {
    margin: 54px 36px 0;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 320px) {
    .modal__input {
        width: 200px;
        height: 100%;
    }
}