.modal__save-btn {
    margin: 48px 36px 36.5px;
    width: 358px;
    height: 50.15px;
    background: #000000;
    color: #ffffff;
    border: 0;
    border-radius: 2px;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.modal__save-btn:hover {
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .modal__save-btn {
        width: 205px;
        height: 40px;
    }
}

.modal__save-btn:focus {
    outline: none;
}