@import url('./_description/profile__info_description.css');
@import url('./_name/profile__info_name.css');

.profile__info {
    align-items: center;
    margin-top: 22px;
}

@media screen and (max-width: 320px) {
    .profile__info {
        margin-top: 10.25px;
    }
}