@import url('./_active/modal__input_error_active.css');

.modal__input_error {
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    height: 30px;
    padding-top: 5px;
    /* margin-left: 36px; */
    opacity: 0;
  }

@media screen and (max-width: 500px) {
  .modal__input_error {
    font-size: 8px;
    line-height: 10px;
    height: 24px;
  }
}